{:profiles
 {:Default
  {:default true
   :alone 200
   :held 100
   :delay 100
   :sim 50}}
; Getting these timigs right requires a bit of trial and error
; They also might have to be different for standard keyboard and ergodox

; Examples from other people: 
; mmroczka: 50, 300, 300, 300
; yqrashawn: 50, 500, 500, 500
; nikivi: 50, 80, 120, 70


 :templates {:alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :open "open \"%s\""}

 :simlayers {:semicolon-mode {:key :semicolon}
             :a-mode {:key :a}
             :s-mode {:key :s}
             :w-mode {:key :w}
             :t-mode {:key :t}
             :d-mode {:key :d}}

 :main [{:des "(mapping) semicolon -> shift (with letters only)"
         :rules [:semicolon-mode
                 [:q :!Sq]
                 [:w :!Sw]
                 [:e :!Se]
                 [:r :!Sr]
                 [:t :!St]
                 [:y :!Sy]
                 [:u :!Su]
                 [:i :!Si]
                 [:o :!So]
                 [:p :!Sp]
                 [:a :!Sa]
                 [:s :!Ss]
                 [:d :!Sd]
                 [:f :!Sf]
                 [:g :!Sg]
                 [:h :!Sh]
                 [:j :!Sj]
                 [:k :!Sk]
                 [:l :!Sl]
                 [:z :!Sz]
                 [:x :!Sx]
                 [:c :!Sc]
                 [:v :!Sv]
                 [:b :!Sb]
                 [:n :!Sn]
                 [:m :!Sm]
                 [:grave_accent_and_tilde [:!Sgrave_accent_and_tilde]] ; -> ~
                 ]}

        {:des "(mostly mapping) akey -> ctrl"
         :rules [:a-mode
                 [:spacebar :!CT9] ; Selection -> Google
                 [:open_bracket :!Topen_bracket]
                 [:close_bracket :!Tclose_bracket]
                 [:semicolon :!Tsemicolon]
                 [:quote :!Tquote]
                 [:comma :!Tcomma]
                 [:period :!Tperiod]
                 [:slash :!Tslash]
                 [:b :!Tb]
                 [:c :!Tc]
                 [:d :!Td]
                 [:e :!Te]
                 [:f :!Tf]
                 [:g :!Tg]
                 [:h :!Th]
                 [:i :!Ti]
                 [:j :!Tj]
                 [:k :!Tk]
                 [:l :!Tl]
                 [:m :!Tm]
                 [:n :!Tn]
                 [:o :!To]
                 [:p :!Tp]
                 [:q :!Tq]
                 [:r :!Tr]
                 [:s :!Ts]
                 [:t :!Tt]
                 [:u :!Tu]
                 [:v :!Tv]
                 [:w :!Tw]
                 [:x :!Tx]
                 [:y :!Ty]
                 [:z :!Tz]
                 [:1 :!T1]
                 [:2 :!T2]
                 [:3 :!T3]
                 [:4 :!T4]
                 [:5 :!T5]
                 [:6 :!T6]
                 [:7 :!T7]
                 [:8 :!T8]
                 [:9 :!T9]
                [:0 :!T0]]}

        {:des "skey (essential)"
         :rules [:s-mode
                 [:e :tab]
                 [:r :!Stab]
                 [:i :!CTperiod] ; Contexts search active windows
                 ;[:p :!COS0] ; Selection -> Typinator snippet
                 ;[:p :!COS9] ; Clipboard -> Typinator snippet
                 [:a :!Cc] ; Copy
                 [:caps_lock :!Cx] ; Cut
                 ;[:t :!COp] ; Selection -> HasteBin link
                 [:quote [:!Cleft_arrow :!CSright_arrow]] ; Highlight current line
                 [:w [:!Oleft_arrow :!OSright_arrow]] ; Highlight word
                 [:d :delete_or_backspace]
                 [:c :!Odelete_or_backspace]
                 [:v :!Cdelete_or_backspace]
                 [:f :return_or_enter]
                 [:g :!Ctab]
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]
                 [:##b :!Cleft_arrow]
                 [:n :!Cv] ; Paste
                 [:##m :!Cright_arrow]
                 [:comma :!COS8] ; Selection -> SnippetsLab
                 [:semicolon :!TCclose_bracket] ; Search SnippetsLab library with assistant
                 [:open_bracket [:km "Selected text -> TODO"]]
                 [:period [:km "Tasks from apps -> TODO"]]
                 [:o :!CTO9]]} ; Search Typinator

        {:des "wkey (mostly launch apps)"
         :rules [:w-mode
                 [:spacebar :!CT7] ; Start Google search with selection
                 [:e [:km "New Fantastical event"]]
                 [:m [:km "open: Xcode"]]
                 [:c [:km "open: Spotify"]]
                 [:k [:km "open: Safari"]]
                 [:d [:km "open: Activity Monitor"]]
                 ;[:g [:km "open: Console"]]
                 [:t [:km "open: Telegram"]]
                 ;[:c [:km "open: Sketch"]]
                 ;[:g [:km "open: Notion"]]
                 ;[:i [:km "open: Chrome Canary"]]
                 ;[:g [:km "open: SnippetsLab"]]
                 ;[:u [:km "open: Safari Technology Preview"]]
                 [:caps_lock [:km "open: Finder"]]
                 [:semicolon [:km "open: Sourcetree"]]
                 [:b [:km "open: BetterTouchTool"]]
                 [:a :!OSC1] ; Open Dash
                 [:r :!CTOSt] ; Open Trello
                 ;[:h [:km "open: Paw"]]
                 ;[:v [:km "open: Figma"]]
                 [:f [:km "open: Things"]]
                 [:j [:km "open: iTerm"]]
                 [:n [:km "open: Sublime Text"]]
                 [:l [:km "open: VS Code"]]
                 [:o [:km "open: Keyboard Maestro"]]]}

        {:des "dkey (spotify)"
         :rules [:d-mode
                 [:j [:km "Spotify Previous Track"]]
                 [:k [:km "Spotify Play/Pause"]]
                 [:l [:km "Spotify Next Track"]]
                 [:i [:km "Spotify Volume Up"]]
                 [:comma [:km "Spotify Volume Down"]]]}

        {:des "backspace:disable + maybe use for media"
         :rules [[:delete_or_backspace :vk_none]]}

        {:des "caps_lock:esc/ctrl"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}]



;; CHEATSHEEET 
;; (not parsed, despite being uncommented)
;; ! stand for mandatory
;; # stand for optional
;; C T O S for left command control optional shift
;; F for fn
;; need to prefix C T O S F with ! or #
 :cheatsheet {:!Ca "command a" ;; mandatory left_command
              :!Ta "control a" ;; mandatory left_control
              :!Oa "option a"
              :!Sa "shift a"
              :#Sa "shift a" ;; keycode a, optional left_shift
              :!CTOa "command control option a"
              :!Cspacebar "command space"
              :!Fa "fn a"
              :##a "keycode a optional any"
              :!!a "mandatory hyper(control command option shift) a "}}

